# --- BUILD ARTIFACTS (Ignore these) ---
build/
dist/
*.spec

# --- SECURITY (Crucial: Never upload your private keys!) ---
*.pfx
*.cer
*.key

# --- PYTHON/SYSTEM (Ignore these) ---
__pycache__/
*.py[cod]
.venv/
env/
.DS_Store
